@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


.header__menu li{
    font-size: 20px;
} 
.call-to-acction__title, .headline h1, .footer__right{
    font-family: 'Lato',sans-serif;
} 
.call-to-acction__title{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.headline h1{
    font-size: 72px;
    padding-bottom: 60px;
}
.headline p{
    font-size: 22px;
}
nav > ul > li, .header__menu, .footer__menu, .headline p, .footer__left, .call-to-acction__small-gray, .call-to-acction__small-gray--link, .call-to-acction__small-white--link {
    font-family: 'Roboto', sans-serif;
}

.fa-chevron-right{
    font-size: 12px;
    font-weight: lighter;
    margin-left: 5px;
}
.call-to-acction__small-gray, .call-to-acction__small-gray--link{
    color: #9B9B9B;
    font-size: 14px;
    text-align: center;
}
.call-to-acction__small-white, .call-to-acction__small-white--link{
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.call-to-acction__small-white--link, .call-to-acction__small-gray--link{
    text-decoration: none;
}
.call-to-acction__small-white--link:hover, .call-to-acction__small-gray--link:hover, li:hover, i.fa-bars:hover{
    color: #2C99ED;
    cursor: pointer;
}
input.call-to-acction__form--input::placeholder, input.call-to-acction__form--input{
    color: #fff;
    opacity: 1;
    font-size: 18px;
    text-align: left !important;
    padding-left: 12px;
    text-transform: capitalize;
}

