

/* header */
header{
  margin-top: 33px;
}
.header__logo{
  padding-left: 60px;
  padding-top: 25px;
  width: 33.33%;
} 
.header__menu {
  margin-top: 15px;
}
.header__menu li:first{
  margin-right: 0;
}
.header__menu li{
  margin-right: 55px;
  font-size: 20px;
} 
.header__menu--hamberger{
  text-align: right;
  padding-right: 60px;
  padding-top: 25px;

}
/*  content */
.content{
  padding:0 150px;
  margin-top: 200px;

}

.headline{
  width: 555px;
  max-width: 555px;
}
.grid__item{
  
}

/* footer */

.footer__left{
  margin-top: 16px;
  margin-left: 60px;
}
/* .footer__right ul{
  margin-right: 60px;
  width: 550px;
  text-align: right;
  float: right;

} */
.footer__right li{
  padding-right: 30px;
}


@media screen and (min-width: 900px) {
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  header.grid{
    grid-template-columns: auto auto auto;
  }
  .content.grid, footer.grid {
    grid-template-columns: auto auto;
  }
  .wrapper {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -100px;
  }
  .footer__right ul{
    margin-right: 60px;
    width: 550px;
    text-align: right;
    float: right;
  
  }
}
@media screen and (max-width: 900px) { 
  nav.header__menu{
    display: none;
  }
  .header__menu--hamberger .header__logo{
    width: 100px;
    margin: 20px;

  }
  .wrapper {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto;
}
.footer__right ul, .footer__left{
  text-align: center;

}

}