@import "reset.css";
@import "fonts.css";
@import "grid.css";

* { margin:0; padding:0; }
html, body { width:100%; height:100%; } 
body{
    background: url("../assets/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
}


/* menu */
nav > ul > li, .header__menu, .footer__menu {
    display: inline-block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/* call-to-acction */
.call-to-acction__form{
    width: 455px;
}
.call-to-acction__form input.call-to-acction__form--input{
    width: 450px;
    height: 59px;
    border: none;
    border-left: 2px solid rgba(256, 256, 256, .5);
    border-right: 2px solid rgba(256, 256, 256, .5);
    border-top: 1px solid rgba(256, 256, 256, .3);
    border-bottom: none;
    background-color: rgba(256, 256, 256, .05);
    text-align: center;
}
.call-to-acction__form input.call-to-acction__form--input.name{
    border: 2px solid rgba(256, 256, 256, .5);
    border-bottom: none;
    border-radius: 10% 5% 0% 0%;

}
.call-to-acction__form--button.signup{
    background-color: #2C99ED;
    width: 466px;
    height: 59px;
    margin-top: 0;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    
}
.call-to-acction__form--button.signup:hover{
    background-color: #e8a144;
    cursor: pointer;
}
i.fa-eye-slash{
    position: absolute; 
    margin-top: -40px;
    margin-left: 400px;
    color: #9B9B9B;
    font-size: 20px;

}
i.fa-eye-slash:hover{
    color: #fff;
    cursor: pointer;
}